body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.message {
  margin-top: 10px;
  text-align: left;
  color: goldenrod;
  font-size: 18px;
  font-style: italic;
}

.validator {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 400px;
  height: 150px;
  margin: 50px auto 0 auto;
  padding: 10px;
  border: goldenrod 4px solid;
  box-shadow: 0px 6px 16px black;
  overflow: auto;
}

.cards__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    height: 38px;
  }

  .gray_style {
    filter: grayscale(0.9);
  }

  .hidden {
    display: none !important;
  }

  .card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    padding: 0;
    line-height:normal;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    min-width: calc(100%/5 - 16px);
    color: darkslateblue;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-wrap:balance;
    overflow-wrap: break-word;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .card_container:first-child {
    margin-left: 0;
  }
  .card_container:last-child {
    margin-right: 0;
  }
  
  .card_oversize {
    min-width: calc(100%/5);
    height: 20px;
  }

  .form_container {
    margin-top: auto;
    margin-bottom: 10px;
    display: flex;
    justify-self:flex-end;
    flex-wrap: nowrap;
  }

  .input_box {
    margin-right: 5px;
    width: 70%;
  }

  .modal_button {
    justify-self: end;
    margin-top: auto;
    border: 0;
    line-height: 2.5;
    padding: 0 40px;
    font-size: 0.8rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(218, 165, 32, 0.6);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.modal_button:hover {
  background-color: rgba(218, 165, 32, 1);
}

.modal_button:disabled,
.modal_button:active:disabled,
.modal_button:hover:disabled {
  background-color: darkgray;
  box-shadow: 
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.modal_button:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
